.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  position: relative;
}

.avatarBig {
  width: 48px;
  height: 48px;
}

.avatarSmall {
  width: 24px;
  height: 24px;
}

.avatar-1 {
  background-color: #DB6622;
}

.avatar-2 {
  background-color: #DBAA22;
}

.avatar-3 {
  background-color: #85DB22;
}

.avatar-4 {
  background-color: #22DB8B;
}

.avatar-5 {
  background-color: #22DBCF;
}

.avatar-6 {
  background-color: #22A3DB;
}

.avatar-7 {
  background-color: #6C22DB;
}

.avatar-8 {
  background-color: #B022DB;
}

.avatar-9 {
  background-color: #DB22C2;
}

.avatar-0 {
  background-color: #DB229D;
}

.isReady {
    // background-color: #23d160;
    border: 3px solid #23d160;
    // color: #fff;
}

.avatarText {
  border-radius: 4px;
}

.avatarTooltip {
  display: none;
}

.avatarWrapper {
  position: relative;
}

.avatar:hover ~ .avatarTooltip  {
  display: block;
  color: black;
  background-color: white;
  position: absolute;
  left: -21px;
  padding: 5px;
  border-radius: 5px;
  width: auto;
  white-space: nowrap;
  margin-top: 15px;
  z-index: 5;
}
