<h1 class='title'>Welcome to Retro</h1>

<div class='box'>
  <% if user_signed_in? %>
    <p>Logged in as <strong><%= current_user.email %></strong></p>
  <% else %>
    <%= link_to 'Sign in with Alfred', user_alfred_omniauth_authorize_path %>
  <% end %>
</div>
