<div class="column is-10">
  <div class='box'>
    <h1 class='title'>New Board</h1>
  </div>
  <div class='box'>
    <%= render 'form', board: @board %>
  </div>
  <%= link_to 'Back', my_boards_path %>
</div>
